In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing as pre
from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
import pickle

In [2]:
train = pd.read_csv('train.csv')
train_x = train[[i for i in train.columns if i != 'deposit']]
train_y = train['deposit']
train_y = train_y.replace({'yes':1,'no':0})

In [3]:
train_x = pd.get_dummies(train_x)

In [4]:
train_x.head()

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,56,45,5,1467,1,-1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
1,41,1270,5,1389,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,54,184,5,673,2,-1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
3,42,0,5,562,2,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,56,830,6,1201,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [5]:
clf = RandomForestClassifier(n_estimators = 100, random_state = 42)

In [14]:
clf.fit(train_x, train_y) # trains the decision tree

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

### model prediction

In [7]:
# pickle.dump(clf,open('random_forests.pkl',mode = "wb"))
# clf = pickle.load(open('model.pkl',mode = "rb"))

In [7]:
test = pd.read_csv('test.csv')
test_x = test[[i for i in train.columns if i != 'deposit']]
test_y = test[['deposit']]
test_y = test_y.replace({'yes':1,'no':0})
test_x = pd.get_dummies(test_x)

In [8]:
predictions = clf.predict(test_x)

In [18]:
clf.score(train_x,train_y)

1.0

In [17]:
clf.score(test_x,test_y)

0.8413978494623656